---

const {image , name} = Astro.props 


---

<div class="card">
    <img src={image} alt={name}  class="image"/>
    <h2>{name}</h2>
</div>

<style>
.image{
  width: 100%;

  mask-image: linear-gradient( black 60%, transparent 100%);
  
}

h2{
   
    width: 100%;
  color: rgb(197, 197, 197);
  margin:0;
  text-align: center;
 
}

.card{
  width: 160px;
  height: 180px;
  display: flex;
  flex-direction: column;
  background: rgba(0, 0, 0, 0.3); 
  border-radius: 10px; 
  padding: 8px;
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 8px rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: white;
}

</style>