---
---

<footer>
    <div class="footer">
        <p>&copy; 2025. Todos los derechos reservados.</p>

        <span>Pagina Oficial del juego</span>

        <a href="https://playvalorant.com/es-mx/agents/" target="_blank" rel="noopener">Valorant</a>
    </div>

    
    <span> <a href="https://github.com" target="_blank" rel="noopener"><img src="Icons/github.png" alt=""></a>  </span>

        
</footer>


<style>

    footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: rgba(0, 0, 0, 0.1);
        padding: 20px;
        color: white;
        font-size: 1.2rem;
        font-weight: bold;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
    }

    .footer{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .footer span{
        margin-left: 30px;
        margin-right: 10px;
    } 

    a{
        color: rgb(255, 255, 255);
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
    }

    a:hover{
        color: rgb(0, 255, 255);
    }

    img{
        width: 50px;
        height: 50px;
    }

    img:hover{
        cursor: pointer;
    }



</style>