--- 
---

    <a href="/" class="head">
        <img src="/Icons/IconoPrincipal.png" alt="">
        <h1>Valorant Agents</h1>
        
    </a>


<style>

.head{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 14px;
    color: white;
    font-size: xx-large;
    text-decoration: none;
}

.head img{
    display: flex;
    width: 100px;
    height: 100px;
    margin-top: 16px;
    margin-right: 10px;
}


</style>