
---
import '../../Styles/Global.css';
import Layout from "../../layouts/Layout.astro"
import Descri from "../../components/Descripcion.astro"
import Agente from "../../components/Agente.astro"
---



<Layout>
    

    <main>
        <section class="caja">
    
            <Agente 
            imagen="/agentes/chamber/Chamber_Artwork_Full.webp"
    
            />
    
    
            <Descri p
            spell1="/agentes/chamber/Trademark.webp"
            spell2="/agentes/chamber/Headhunter.webp"
            spell3="/agentes/chamber/Rendezvous.webp"
            spell4="/agentes/chamber/Tour_De_Force.webp"
            icono="/Icons/ControllerClassSymbol.webp"
            
            texto="Chamber es un agente sofisticado y letal que combina precisión y estrategia con un conjunto de habilidades centrado en el control de áreas y el daño directo. Su arsenal especializado lo convierte en un gran duelista y ancla defensiva, ideal para quienes tienen buena puntería y les gusta jugar de manera calculada."
            titulo="CHAMBER"
            descriTitulo="Centinela"
        
            texto1="(Habilidad-1) Trademark: Chamber coloca una trampa que detecta enemigos que entren en su rango. Al activarse, ralentiza a todos los jugadores en el área afectada. Es ideal para bloquear flancos o ganar tiempo durante una defensa."
            texto2="(Habilidad-2) Headhunter: Chamber equipa un revólver pesado con gran precisión y daño. Los disparos bien colocados son letales, y puede ser usado como una alternativa económica o para asegurar bajas en cualquier ronda."
            texto3="(Habilidad-3) Rendezvous: Chamber despliega dos anclajes de teletransportación en el mapa. Mientras esté dentro del rango de un anclaje, puede activarlo para moverse rápidamente al otro. Es perfecto para reposicionarse y escapar de situaciones peligrosas."
            texto4="(Ultimate) Tour De Force: Chamber invoca un rifle de francotirador personalizado que elimina a los enemigos de un solo disparo. Los enemigos abatidos crean un área que ralentiza a otros jugadores, brindando control adicional tras cada baja. Esta habilidad convierte a Chamber en una fuerza dominante en el campo."
                    
            />
        </section>
    </main>