---
import '../../Styles/Global.css';
import Layout from "../../layouts/Layout.astro"
import Descri from "../../components/Descripcion.astro"
import Agente from "../../components/Agente.astro"
---



<Layout>
    

    <main>
        <section class="caja">
    
            <Agente 
            imagen="/agentes/skye/Skye_Artwork_Full.webp"
    
            />
    
    
            <Descri p
            spell1="/agentes/skye/Trailblazer.webp"
            spell2="/agentes/skye/Guiding_Light.webp"
            spell3="/agentes/skye/Regrowth.webp"
            spell4="/agentes/skye/Seekers.webp"
            icono="/Icons/InitiatorClassSymbol.webp"
            
            texto="Skye es una agente de apoyo y curación que utiliza sus habilidades para sanar a sus compañeros y controlar el campo de batalla. Su capacidad para proporcionar curación constante y bloqueos de visión la convierte en una opción muy valiosa para cualquier equipo."
            titulo="SKYE"
            descriTitulo="Iniciadora"
        
            texto1="(Habilidad-1) Luz Curativa: Skye equipa un orbe que, al lanzarlo sobre un aliado herido, lo cura a lo largo de un breve período. Es ideal para mantener a los compañeros en pie durante enfrentamientos intensos."
            texto2="(Habilidad-2) Flashbang: Skye lanza una granada cegadora que explota en un área grande, cegando a todos los enemigos dentro de su radio de acción. Es útil para interrumpir el avance enemigo o facilitar la entrada de su equipo en áreas claves."
            texto3="(Habilidad-3) Cebo: Skye lanza una esfera que, al impactar en el suelo, emite una luz cegadora en todas las direcciones. Esta habilidad es excelente para despejar espacios o forzar a los enemigos a moverse."
            texto4="(Ultimate) Rayo Sanador: Skye activa su habilidad definitiva, una gran esfera que recorre el mapa, curando a todos los aliados en su camino. Esta habilidad puede ser decisiva para mantener a su equipo con vida durante combates prolongados."
        
            />
        </section>
    </main>