---
import '../../Styles/Global.css';
import Layout from "../../layouts/Layout.astro"
import Descri from "../../components/Descripcion.astro"
import Agente from "../../components/Agente.astro"
---



<Layout>
    

    <main>
        <section class="caja">
    
            <Agente 
            imagen="/agentes/yoru/Yoru_Artwork_Full.webp"
    
            />
    
    
            <Descri p
            spell1="/agentes/yoru/Blindside.webp"
            spell2="/agentes/yoru/Gatecrash.webp"
            spell3="/agentes/yoru/Fakeout.webp"
            spell4="/agentes/yoru/Dimensional_Drift.webp"
            icono="/Icons/DuelistClassSymbol.webp"
            
            texto="Yoru es un agente duelist que sobresale en la engañosa y rápida rotación por el mapa. Su capacidad para manipular la visión del enemigo y entrar y salir de situaciones de combate lo convierte en un agente ideal para desorientar y sorprender al equipo contrario."
            titulo="YORU"
            descriTitulo="Duelista"
        
            texto1="(Habilidad-1) Destello: Yoru lanza un destello que ciega a los enemigos en su área de efecto. La habilidad puede ser activada a través de una pared, lo que la convierte en una herramienta eficaz para sorprender a los enemigos desde ángulos inesperados."
            texto2="(Habilidad-2) Puerta Dimensional: Yoru equipa un portal que le permite teletransportarse a una corta distancia. Al pasar por el portal, Yoru se vuelve parcialmente invulnerable y puede sorprender al enemigo con rapidez."
            texto3="(Habilidad-3) Carga de Reconocimiento: Yoru lanza un dispositivo que genera una distracción y revela la posición de los enemigos cercanos. La habilidad puede desorientar a los enemigos al simular una presencia falsa, lo que permite a Yoru y a su equipo tomar ventaja."
            texto4="(Ultimate) Destello Dimensional: Yoru activa su habilidad definitiva, que le permite desaparecer en el plano dimensional y moverse libremente a través del mapa sin ser detectado. Durante este tiempo, Yoru puede posicionarse en cualquier lugar y atacar con una ventaja significativa de sorpresa."
        
            />
        </section>
    </main>